<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Add custom classes and styles that you want inlined here */
    </style>
  </head>
  <body class="bg-light">
    <div class="container">
      <img
        class="ax-center my-10 w-24"
        src="https://app.revolt.chat/assets/logo_round.png"
      />
      <div class="card p-6 p-lg-10 space-y-4">
        <h1 class="h3 fw-700">Password Reset</h1>
        <p>You requested a password reset, click below to continue.</p>
        <a class="btn btn-primary p-3 fw-700" href="{{url}}">Reset</a>
      </div>
      <div class="text-muted text-center my-6">
        This email is intended for {{email}}<br />
        Sent from Revolt<br />
        Made in the EU
      </div>
    </div>
  </body>
</html>
